{% load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Blog de Allan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- Bulma Version 0.9.0-->
    <link rel='stylesheet' href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link rel='stylesheet' href='https://kingsora.github.io/OverlayScrollbars/etc/os-theme-thin-dark.css'>	  
    <link rel='stylesheet' href="../css/prism.css">
    <link rel="stylesheet" href="../css/cheatsheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-12">
            <div class="container content">
              <i class="is-large fas fa-code"></i>
              <h1 class="title">Universidad <em>Mesoamericana</em> Quetzaltenango</h1>
              <h3 class="subtitle">
              Vamos un paso adelante
              </h3>
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <h1><a href="/">Home</a></h1>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

<footer class="footer">
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <article class="notification media has-background-white">
          <figure class="media-left">
            <span class="icon">
              <i class="has-text-warning fas fa-columns fa-lg"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Alumno</h1>
              <p class="is-size-5 subtitle">
                Allan Kenny Sac Tzirin
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-info">
              <i class="fab fa-lg fa-wpforms"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Carrera</h1>
              <p class="is-size-5 subtitle">
                Ingeniería en sistemas
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fas fa-lg fa-cubes"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Semestre</h1>
              <p class="is-size-5 subtitle">
                Octavo Semestre sección E
              </p>
            </div>
          </div>
        </article>
      </div>


    </div>
  </div>
</section>


</body>
</html>